# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.bin

bin/
expt/
.vscode/
.idea/
vendor/
swagger/
out/

coverage.out
application.dev.yml
application.local.yml
application.staging.yml


certs
*.rdb